integration_name: com.newrelic.vmware-esxi

instances:
  - name: <INSTANCE IDENTIFIER>
    command: metrics
    arguments:
      url: https://host:port/sdk
      username: 
      password:
      insecure: true
      datacenter: default
    labels:
      env: default
