integration_name: com.newrelic.vsphere-plugin

instances:
  - name: <INSTANCE IDENTIFIER>
    command: metrics
    arguments:
      url: https://username:password@host/sdk
      insecure: true
      datacenter: default
    labels:
      key1: label_value

